@import "navBar";
@import "footer";

*{margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}




.inicio{padding-top: 50px;
    padding-bottom: 50px;}

h1, h3, h5, h4, h6{
    color:pink;
}

.btn-primary{background-color: pink;
    border:0px;
    &:hover {background-color: rgb(255, 218, 224);}
}

input[type=text],[type=email],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 20px 12px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
    box-sizing: border-box;
    resize: none;
  }
  
  input[type=text],[type=email],textarea:focus {outline-color: #D77948;}

  .formulario{padding: 20px;}



@keyframes Van {
0%   {left:0px; top:0px;}
100% {left:45vw; top:0px; }
}
@keyframes textoVan {
    0%   {opacity: 0;}
    90%   {opacity: 0;}
    100% {opacity: 1;}
  }

/* The element to apply the animation to */
#containerAnimacion .van {
position: relative;
animation-name: Van;
animation-duration: 5s;
animation-play-state:p;
animation-iteration-count: 1;
animation-fill-mode: forwards;

}
#containerAnimacion .textoVan{
    position: relative;
    animation-name: textoVan;
    animation-duration: 3s;
    animation-play-state:running; 
    animation-fill-mode:forwards;
    animation-iteration-count: 1;

}

.textoVan{opacity:0;
    display: flex;
    text-align: right;
}


    legend {font-size: 1.25rem;}
    .cards {margin-bottom: 50px;}

.caruselTrabajos{padding-top: 50px;
    margin-bottom: 100px;}
