@import "navBar";
@import "footer";

*{margin:0;
padding:0;
box-sizing: border-box;
}

.inicio{padding-top: 50px;
    padding-bottom: 50px;}


h1{
    color:pink;
}

.btn-primary{background-color: pink;
    border:0px;
    &:hover {background-color: rgb(255, 218, 224);}
}



input[type=text],[type=email],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 20px 12px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
    box-sizing: border-box;
    resize: none;
  }
  
  input[type=text],[type=email],textarea:focus {outline-color: #D77948;}
  
  /*Formato botón enviar*/
  


